{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/goods.css') }}>
{% endblock %}

{% block title %}所有商品{% endblock %}

{% block body %}
    <div class="banner logo-center yellowhalf">
        <span class="logo"></span>
    </div>
    <div class="content">
        <h2 class="ft-xl yellowBar page-title ">{% block content_title %}所有商品{% endblock %}</h2>
        <ul class="item-list max3 goods-list ft-m">
            {% import 'macros/goods.html' as goods_macros %}
            {{ goods_macros.goods(products) }}
        </ul>
    </div>
{% endblock %}

{% block js %}
    <script src={{ url_for('static', filename='js/goods.js') }}></script>
{% endblock %}