<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/normalize.css">
    <!-- <link rel="stylesheet" href="static/css/unslider.css">
    <link rel="stylesheet" href="static/css/unslider-dots.css">
    <link rel="stylesheet" href="static/css/index.css"> -->
    <!-- <link rel="stylesheet" href="static/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="static/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="static/css/index1.css">
    <title>My Shop</title>
  </head>
  <body>
    <div class="nav">
      <div id="menu">
        <a href="#"><img src="static/images/icon_menu.png"></a>
      </div>
      <div id="search">
        <form id="search_form">
          <input type="search" placeholder="search anything" name="search" id="search_it">
        </form>
      </div>
      <div id="car">
        <a href="#" class="text">登录</a>
        <a href="#" class="text">免费注册</a>
        <a href="#"><img src="static/images/icon_car.png" id="car_img"></a></span>
      </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/unslider-min.js"></script>
    <!-- <script src="static/js/bootstrap.min.js"></script> -->
    <script src="static/js/index1.js"></script>
  </body>
</html>