<html>
    <head>
        <style>
            #box{
                position: absolute;
                border:1px solid black;
                width: 200px;
                height: 200px;
            }
            #inner{
                position: relative;
                background-color: red;
                width:100px;
                height:100px;
                margin-left:100px;
                left: 100px;

            }
        </style>
    </head>
    <body>
        <div id="box">
            <div id="inner"></div>
            <p>hello</p>
        </div>
        <p>zhujiongyao</p>
    </body>
</html>