@charset "UTF-8";
.goods-list {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  text-align: center; }
  .goods-list > li {
    position: relative;
    box-sizing: border-box;
    padding: 2rem; }
    .goods-list > li > * {
      width: 100%; }
  .goods-list > li.carted:after,
  .goods-list > li.toadd:after {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    padding: .8rem;
    background-color: #ffd245;
    background-repeat: no-repeat;
    border-radius: 1.5rem; }
  .goods-list > li.carted:after {
    content: "";
    height: .7rem;
    width: .7rem;
    background-image: url("../image/icon/chosen.png");
    background-position: center center;
    background-size: 1rem; }
  .goods-list > li.toadd:after {
    content: "加入购物车";
    width: 5rem;
    padding-left: 2.1rem;
    background-image: url("../image/icon/cart.png");
    background-position: .8rem center;
    background-size: 1rem; }
  .goods-list:not(.sort-list) > li {
    border-radius: 12px;
    transition: box-shadow .2s; }
    .goods-list:not(.sort-list) > li:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
  .goods-list .image {
    width: 0;
    padding: 50%;
    background: center center no-repeat;
    background-size: 85%; }
  .goods-list .descr {
    margin: .7rem 0;
    color: #444;
    font-size: 12px; }
  .goods-list .price {
    font-weight: bold; }

.goods-colors {
  padding: .6rem 0; }
  .goods-colors li {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 .1rem;
    border-radius: 50%; }

.goods-info {
  margin-top: 2rem;
  width: 100%;
  height: 550px;
  display: inline-block; }
  @media screen and (max-width: 767px) {
    .goods-info {
      height: auto; } }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .goods-info {
      height: 390px; } }
  .goods-info > div {
    float: left; }

.goods-image {
  position: relative;
  width: 80%;
  height: 100%;
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    .goods-image {
      width: 100%;
      height: 300px; } }
  .goods-image img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    margin: 0 auto; }
    @media screen and (max-width: 767px) {
      .goods-image img {
        left: 50%; } }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
      .goods-image img {
        left: 30%; } }
    @media screen and (min-width: 1440px) {
      .goods-image img {
        left: 45%;
        width: 380px; } }

.goods-descr {
  position: relative;
  width: 42%;
  padding: 0 4%;
  margin-left: -30%;
  margin-top: 5%; }
  @media screen and (max-width: 767px) {
    .goods-descr {
      margin-left: 0;
      height: 290px; } }
  @media screen and (max-width: 767px) {
    .goods-descr {
      width: 92%; } }
  @media screen and (min-width: 1440px) {
    .goods-descr {
      margin-top: 7%; } }
  .goods-descr h2 {
    font-size: 1.5rem;
    font-weight: bold; }
  .goods-descr .price {
    display: block;
    margin: .6rem 0; }
  .goods-descr .detail {
    width: 100%;
    margin-bottom: 1.6rem; }
    .goods-descr .detail li {
      width: 100%;
      margin: .8em 0; }
  .goods-descr .btn {
    width: 9.5em;
    color: #222;
    background: #ffd245 url("../image/icon/cart.png") 1rem center no-repeat;
    background-size: 1rem;
    padding-left: 2.5em; }
    @media screen and (min-width: 1440px) {
      .goods-descr .btn {
        margin-top: 1.5rem;
        font-size: 1.3rem;
        background-size: 1.3rem; } }
    .goods-descr .btn.nogoods {
      background-color: #cacaca; }

.goods-rec {
  margin-top: 2.5rem; }

.image {
  cursor: pointer;
}
