{% macro address_list(addresses) %}
    <li class="addnew pointer"></li>
    {% for address in addresses %}
        <li address_id={{ address.id }}>
            <div class="name">
                {{ address.name }}
                <span class="hoverYellow pointer rm_address">删除</span>
                <span class="hoverYellow pointer edit_address">编辑</span>
            </div>
            <ul class="detail">
                {% if address.phone_number %}
                    <li>{{ address.phone_number }}</li>
                {% endif %}
                <li>
                    {% if address.province %}
                        <span>{{ address.province }}</span>
                    {% endif %}
                    {% if address.city %}
                        <span>{{ address.city }}</span>
                    {% endif %}
                    {% if address.region %}
                        <span>{{ address.region }}</span>
                    {% endif %}
                </li>
                {% if address.detail_address %}
                    <li>{{ address.detail_address }}</li>
                {% endif %}
            </ul>
        </li>
    {% endfor %}
{% endmacro %}

{% macro address_edit_form(address_form) %}
    <div class="usredt-con ads-mdfy popup">
        <form action={{ url_for("apis.deal_with_addresses") }} method="post">
            <div class="usredt-input">
                {{ address_form.name(class="name", placeholder="姓名") }}
                {{ address_form.phone_number(class="number", placeholder="手机号") }}
                {{ address_form.province(class="province half", placeholder="省份/自治区") }}
                {{ address_form.city(class="city half", placeholder="城市/地区") }}
                {{ address_form.region(class="area", placeholder="区/县") }}
                {{ address_form.detail_address(class="location", placeholder="详细地址") }}
                {{ address_form.postcode(class="code", placeholder="邮政编码") }}
                {{ address_form.address_id(hidden=True) }}
            </div>
            {{ address_form.submit(class="btn save") }}
            <input value="取消" class="btn cancel">
            {{ address_form.csrf_token }}
        </form>
    </div>
{% endmacro %}