{% extends "auth/layout.html" %}

{% block form %}
    <form method="post">
        <div class="usredt-input lr-input">
            {{ form.username(class="username norepeat ft-xl", placeholder="用户名") }}
            {{ form.password(class="password norepeat ft-xl",
            placeholder="密码") }}
            {{ form.password2(class="password norepeat ft-xl",
            placeholder="确认密码") }}
        </div>
        {{ form.submit(class="btn") }}
        {{ form.csrf_token }}
    </form>
{% endblock %}

{% block script %}
    {% if form.username.errors %}
        var username_error = {{ form.username.errors[0] | tojson | safe }};
        alertBox(username_error)();
    {% elif form.password.errors %}
        var password_error = {{ form.password.errors[0] | tojson | safe }};
        alertBox(password_error)();
    {% endif %}
{% endblock %}