{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cart.css') }}">
{% endblock %}
{% block title %}购物车{% endblock %}
{% block body %}
    <div class="banner logo-center yellowhalf"></div>
    <div class="content">
        <h2 class="ft-xl yellowBar page-title ">购物车</h2>
        <ul class="order-list ft-m cart-list hoverShadow">
            <li class="gds-con">
                <div class="cart-radio"><i class="radio"></i></div>
                <div class="image" style="background-image: url({{ url_for('static', filename='image/goods/m1.png') }})"></div>
                <div class="right">
                    <div class="name"><b class="ellipsis">无印良品风U型抱枕</b><span>深灰白</span></div>
                    <div class="number-pick ft-l"><i class="dec"></i><span>1</span><i class="add"></i></div>
                    <div class="sum"><span class="price">67.70</span>x1</div>
                    <div class="remove hoverYellow">删除</div>
                </div>
            </li>
            <li class="gds-con">
                <div class="cart-radio"><i class="radio"></i></div>
                <div class="image" style="background-image: url({{ url_for('static', filename='image/goods/m2.png') }})"></div>
                <div class="right">
                    <div class="name"><b class="ellipsis">日式单耳陶瓷碗</b><span>乳白色</span></div>
                    <div class="number-pick ft-l"><i class="dec"></i><span>4</span><i class="add"></i></div>
                    <div class="sum"><span class="price">26.00</span>x1</div>
                    <div class="remove hoverYellow">删除</div>
                </div>
            </li>
            <li class="gds-con">
                <div class="cart-radio"><i class="radio"></i></div>
                <div class="image" style="background-image: url({{ url_for('static', filename='image/goods/m3.png') }})"></div>
                <div class="right">
                    <div class="name"><b class="ellipsis">创意木质手工皂盒</b><span>本木色</span></div>
                    <div class="number-pick ft-l"><i class="dec"></i><span>10</span><i class="add"></i></div>
                    <div class="sum"><span class="price">9.90</span>x1</div>
                    <div class="remove hoverYellow">删除</div>
                </div>
            </li>
        </ul>
        <div class="cart-sum">
            <div class="selected">已选中 1 件商品</div>
            <div class="btn"><a href="{{ url_for('main.orderconfirm') }}">结算</a></div>
            <div class="price"> 67.70</div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/numInput.js') }}"></script>
    <script>
        cmn.toggleStatus($(".cart-radio .radio"),{});
        $(".gds-con .remove").on("click",function () {
            $(this).parents(".gds-con").remove();
        });
    </script>
{% endblock %}