<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/goods.css">
    <title>商品详情</title>
</head>
<body>
    <header>
        <div class="header-top">
            <i class="menu-icon"></i>
            <form class="searchBar transition" id="search">
                <input type="search" class="ft-m transition" width="0">
                <div class="submit transition pointer"></div>
            </form>
            <div class="user ft-m">
                <a class="user-cart">
                    <span class="number">2</span>
                </a>
                <!-- <a href="login.html" class="nologin">登录</a>
                <a href="regist.html" class="nologin ft-grey">免费注册</a> -->
                <a href="user.html" class="username">CiCi</a>
            </div>
        </div>
        <ul class="menu-list" style="display:none">
            <li><a href="">所有商品</a></li>
            <li><a href="">木器使用保养</a></li>
            <li><a href="">联系我们</a></li>
        </ul>
    </header>
    <div class="goods-info logo-center">
        <div class="goods-image yellowhalf" id="image">
            <img src="image/goods/l1.png">
        </div>
        <div class="goods-descr">
            <h2>无印良品风U型抱枕</h2>
            <b class="price ft-xl">67.70</b>
            <ul class="detail ft-s">
                <li><span>材质：</span>外部（针织棉100%），内部套（95%聚酯纤维，5%氨纶）</li>
                <li><span>颜色：</span>黑灰、深灰白、浅灰白、粉灰、蓝灰</li>
                <li><span>粒子：</span>0.5mm级别进口粒子（无味无声触感细腻）</li>
                <li><span>扣子：</span>日本NIFCO卡扣 </li>
            </ul>
            <ul class="goods-colors" id="colorpick">
                <li style="background-color: #dddce4" pic="image/goods/l1.png"></li>
                <li style="background-color: #f6e4e4" pic="image/goods/m2.png"></li>
                <li style="background-color: #eeeef4" pic="image/goods/m3.png"></li>
                <li style="background-color: #e1e1e1" pic="image/goods/m4.png"></li>
            </ul>
            <!-- <div class="btn">加入购物车</div> -->
            <div class="btn nogoods">加入购物车</div>
        </div>
    </div>
    <div class="content goods-rec">
        <h3 class="title">看了该宝贝的宝宝还看了</h3>
        <ul class="item-list max4 goods-list ft-m">
            <li>
                <div class="image" style="background-image: url(image/goods/m4.png)"></div>
                <ul class="goods-colors">
                    <li style="background-color: #1e353f"></li>
                </ul>
                <a class="name ellipsis">黑猫Tiimo美臀坐垫</a>
                <div class="descr">柔软治愈 美臀不再费力</div>
                <div class="price">52.25</div>
            </li>
            <li>
                <div class="image" style="background-image: url(image/goods/m5.png)"></div>
                <ul class="goods-colors">
                    <li style="background-color: #c1925b"></li>
                </ul>
                <a class="name ellipsis">日式原木木片篮子圆形面包篮</a>
                <div class="descr">原木木片 自然生态</div>
                <div class="price">16.00</div>
            </li>
            <li>
                <div class="image" style="background-image: url(image/goods/m2.png)"></div>
                <ul class="goods-colors">
                    <li style="background-color: #c1925b"></li>
                    <li style="background-color: #f5f6f6"></li>
                </ul>
                <a class="name ellipsis">日式单耳陶瓷碗</a>
                <div class="descr">亚光磨砂釉面 质感温润</div>
                <div class="price">26.00</div>
            </li>
            <li>
                <div class="image" style="background-image: url(image/goods/m6.png)"></div>
                <ul class="goods-colors">
                    <li style="background-color: #f5f6f6"></li>
                </ul>
                <a class="name ellipsis">超声波负离子香薰机</a>
                <div class="descr">润物无声 品质保障</div>
                <div class="price">195.00</div>
            </li>
            <li>
                <div class="image" style="background-image: url(image/goods/m7.png)"></div>
                <ul class="goods-colors">
                    <li style="background-color: #ffdbb7"></li>
                </ul>
                <a class="name ellipsis">组合式木质盖子收纳盒</a>
                <div class="descr">原木木片 自然生态</div>
                <div class="price">38.00</div>
            </li>
            <li>
                <div class="image" style="background-image: url(image/goods/m3.png)"></div>
                <ul class="goods-colors">
                    <li style="background-color: #eac090"></li>
                </ul>
                <a class="name ellipsis">创意木质手工皂盒</a>
                <div class="descr">木质本色 朴实自然</div>
                <div class="price">9.90</div>
            </li>
            <li>
                <div class="image" style="background-image: url(image/goods/m8.png)"></div>
                <ul class="goods-colors">
                    <li style="background-color: #957454"></li>
                </ul>
                <a class="name ellipsis">手工编制藤编收纳筐</a>
                <div class="descr">田园风情 匠人之心</div>
                <div class="price">32.00</div>
            </li>
            <li>
                <div class="image" style="background-image: url(image/goods/m9.png)"></div>
                <ul class="goods-colors">
                    <li style="background-color: #5d2a18"></li>
                    <li style="background-color: #ecd1b4"></li>
                    <li style="background-color: #5d2a18"></li>
                    <li style="background-color: #ecd1b4"></li>
                </ul>
                <a class="name ellipsis">创意实木小勺子</a>
                <div class="descr">精致可爱 安全健康</div>
                <div class="price">4.80</div>
            </li>
        </ul>
    </div>
    <footer> 
        @ZattaShop, 2016 all right served.
    </footer>
    <script src="/static/bower_components/zepto/zepto.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script>
        if(document.body.clientWidth > 1024){
            var list = $(".goods-list>li");
            list.find(".image").on("click",function(){
                $(this).parent().removeClass("toadd").toggleClass("carted");
            });
            list.on("mouseenter",function(){
                if(!$(this).hasClass("carted")){
                    $(this).addClass("toadd");
                }
            }); 
            list.on("mouseleave",function(){
                $(this).removeClass("toadd");
            }); 
        }
    </script>
</body>