{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/goods.css') }}">
{% endblock %}

{% block title %}所有商品{% endblock %}

{% block body %}
    <div class="banner logo-center yellowhalf"></div>
    <div class="content">
        <h2 class="ft-xl yellowBar page-title ">所有商品</h2>
        <ul class="item-list max3 goods-list ft-m">
            {% for product in products %}
                <li>
                    <div class="image" style="background-image: url({{ product.colors[0].img_url }})"></div>
                    <ul class="goods-colors">
                        {% for _color in product.colors %}
                            <li style="background-color: {{ _color.color }}"></li>
                        {% endfor %}
                    </ul>
                    <a href="" class="name ellipsis">{{ product.name }}</a>
                    <div class="descr">{{ product.description }}</div>
                    <div class="price">{{ product.price }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <footer> 
        @ZattaShop, 2016 all right served.
    </footer>
{% endblock %}

{% block js %}
    <script>
        if(document.body.clientWidth > 1024){
            var list = $(".goods-list>li");
            list.find(".image").on("click",function(){
                $(this).parent().removeClass("toadd").toggleClass("carted");
            });
            list.on("mouseenter",function(){
                if(!$(this).hasClass("carted")){
                    $(this).addClass("toadd");
                }
            }); 
            list.on("mouseleave",function(){
                $(this).removeClass("toadd");
            }); 
        }
    </script>
{% endblock %}