{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/goods.css') }}">
{% endblock %}

{% block title %}商品详情{% endblock %}

{% block body %}
    <div class="goods-info logo-center">
        <div class="goods-image yellowhalf" id="image">
            <img src="{{ product_detail.colors[0].img_url }}" id="detail_img">
        </div>
        <div class="goods-descr">
            <h2>{{ product_detail.name }}</h2>
            <b class="price ft-xl">{{ product_detail.price }}</b>
            <ul class="detail ft-s">
                <li><span>材质：</span>外部（针织棉100%），内部套（95%聚酯纤维，5%氨纶）</li>
                <li><span>颜色：</span>黑灰、深灰白、浅灰白、粉灰、蓝灰</li>
                <li><span>粒子：</span>0.5mm级别进口粒子（无味无声触感细腻）</li>
                <li><span>扣子：</span>日本NIFCO卡扣 </li>
            </ul>
            <ul class="goods-colors" id="colorpick">
                {% for _color in product_detail.colors %}
                    <li style="background-color: {{ _color.color }}" pic="{{ _color.img_url }}" class="color_icon"></li>
                {% endfor %}
            </ul>
            <!-- <div class="btn">加入购物车</div> -->
            <div class="btn nogoods">加入购物车</div>
        </div>
    </div>
    <div class="content goods-rec">
        <h3 class="title">看了该宝贝的宝宝还看了</h3>
        <ul class="item-list max4 goods-list ft-m">
            {% for product in products_others %}
                <li>
                    <div class="image" style="background-image: url({{ product.colors[0].img_url }})"></div>
                    <ul class="goods-colors">
                        {% for _color in product.colors %}
                            <li style="background-color: {{ _color.color }}"></li>
                        {% endfor %}
                    </ul>
                    <a class="name ellipsis">{{ product.name }}</a>
                    <div class="descr">{{ product.description }}</div>
                    <div class="price">{{ product.price }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block js %}
    <script>
        if(document.body.clientWidth > 1024){
            var list = $(".goods-list>li");
            list.find(".image").on("click",function(){
                $(this).parent().removeClass("toadd").toggleClass("carted");
            });
            list.on("mouseenter",function(){
                if(!$(this).hasClass("carted")){
                    $(this).addClass("toadd");
                }
            }); 
            list.on("mouseleave",function(){
                $(this).removeClass("toadd");
            }); 
        }
        //颜色按钮的点击事件
        $(".color_icon").on("click", function(){
            var img_url = $(this).attr("pic");
            $('#detail_img').attr("src", img_url);
        })
    </script>
{% endblock %}