{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/goods.css') }}>
{% endblock %}

{% block title %}所有商品{% endblock %}

{% block body %}
    <div class="banner logo-center yellowhalf">
        <span class="logo"></span>
    </div>
    <div class="content">
        <h2 class="ft-xl yellowBar page-title ">{% block content_title %}所有商品{% endblock %}</h2>
        <ul class="item-list max3 goods-list ft-m">
            {% for product in products %}
                <li product_id={{ product.id }}>
                    <div class="image rough_image" style="background-image: url({{ product.colors[0].img_url }})" color_id={{ product.colors[0].id }} color_amount={{ product.colors[0].amount }}><span style="display: none;">加入购物车</span></div>
                    <ul class="goods-colors">
                        {% for _color in product.colors %}
                            <li style="background-color: {{ _color.color }}" pic={{ _color.img_url }} class="color_icon" color_id={{ _color.id }} color_amount={{ _color.amount }}></li>
                        {% endfor %}
                    </ul>
                    <a href={{ url_for('main.goods', product_id=product.id) }} class="name ellipsis">{{ product.name }}</a>
                    <div class="descr">{{ product.description }}</div>
                    <div class="price">{{ product.price }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block js %}
    <script src={{ url_for('static', filename='js/goods.js') }}></script>
{% endblock %}