{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/goods.css') }}>
{% endblock %}

{% block title %}商品详情{% endblock %}

{% block body %}
    <div class="goods-info logo-center">
        <span class="logo"></span>
        <div class="goods-image yellowhalf" id="image">
            <img src={{ product_detail.colors[0].img_url }} id="detail_img" color_id={{ product_detail.colors[0].id }}>
        </div>
        <div class="goods-descr">
            <h2>{{ product_detail.name }}</h2>
            <b class="price ft-xl">{{ product_detail.price }}</b>
            <ul class="detail ft-s">
                {% for detail_line in product_detail.detail_lines %}
                    <li>{{ detail_line }}</li>
                {% endfor %}
            </ul>
            <ul class="goods-colors" id="colorpick">
                {% for _color in product_detail.colors %}
                    <li style="background-color: {{ _color.color }}" pic={{ _color.img_url }} class="color_icon" color_id={{ _color.id }} color_amount={{ _color.amount }}></li>
                {% endfor %}
            </ul>
            <!-- <div class="btn">加入购物车</div> -->
            <div class="btn" id="detail_add" color_amount={{ product_detail.colors[0].amount }} color_id={{ product_detail.colors[0].id }}>加入购物车</div>
        </div>
    </div>
    <div class="content goods-rec">
        <h3 class="title">看了该宝贝的宝宝还看了</h3>
        <ul class="item-list max4 goods-list ft-m">
            {% for product in products_others %}
                <li product_id={{ product.id }}>
                    <div class="image rough_image" style="background-image: url({{ product.colors[0].img_url }})" color_id={{ product.colors[0].id }} color_amount={{ product.colors[0].amount }}><span style="display: none;">加入购物车</span></div>
                    <ul class="goods-colors">
                        {% for _color in product.colors %}
                            <li style="background-color: {{ _color.color }}" class="color_icon" pic={{ _color.img_url }} color_id={{ _color.id }} color_amount={{ _color.amount }}></li>
                        {% endfor %}
                    </ul>
                    <a href={{ url_for('main.goods', product_id=product.id) }} class="name ellipsis">{{ product.name }}</a>
                    <div class="descr">{{ product.description }}</div>
                    <div class="price">{{ product.price }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block js %}
    <!-- 处理非细节商品加入购物车的功能 -->
    <script src={{ url_for('static', filename='js/goods.js') }}></script>
    <script>
        //根据商品数量，判断是否可以加入购物车(初始化)
        var detail_amount = $("#detail_add").attr("color_amount");
        if(parseInt(detail_amount) <= 0){
            $("#detail_add").addClass("nogoods");
        }
        else{
            $("#detail_add").removeClass("nogoods");
        }
        //细节商品颜色按钮的点击事件
        $(".goods-descr .color_icon").on("click", function(){
            var img_url_detail = $(this).attr("pic");
            var color_id = $(this).attr("color_id");
            var color_amount = $(this).attr("color_amount")
            $("#detail_img").attr("src", img_url_detail);
            $("#detail_img").attr("color_id", color_id);
            $("#detail_add").attr("color_id", color_id);
            $("#detail_add").attr("color_amount", color_amount);
            //根据商品数量，判断是否可以加入购物车
            var detail_amount = $("#detail_add").attr("color_amount");
            if(parseInt(detail_amount) <= 0){
                $("#detail_add").addClass("nogoods");
            }
            else{
                $("#detail_add").removeClass("nogoods");
            }
        });
        //细节商品加入购物车
        $("#detail_add").on("click", function(){
            var detail_amount = $(this).attr("color_amount");
            var detail_color_id = $(this).attr("color_id");
            if(parseInt(detail_amount) > 0){
                $.ajax({
                    type: "POST", 
                    url: {{ url_for('restful.add_to_cart') | tojson }},
                    data: JSON.stringify({ color_id: detail_color_id}),
                    contentType: 'application/json',
                    success: function(data){
                        window.location.reload();
                    }
                });
            }
        });
    </script>
{% endblock %}