<header>
    <div class="header-top">
        <i class="menu-icon"></i>
        <form class="searchBar transition" id="search">
            <input type="search" class="ft-m transition" width="0">
            <div class="submit transition pointer"></div>
        </form>
        <div class="user ft-m">
            <a href="{{ url_for('main.cart') }}" class="user-cart">
                <span class="number">2</span>
            </a>
            {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.login') }}" class="nologin">登录</a>
                <a href="{{ url_for('auth.signup') }}" class="nologin ft-grey">免费注册</a>
            {% else %}
                <a href="{{ url_for('main.user', user_id=current_user.id) }}" class="username">{{ current_user.username }}</a>
            {% endif %}
        </div>
    </div>
    <ul class="menu-list" style="display:none">
        <li><a href="">所有商品</a></li>
        <li><a href="">木器使用保养</a></li>
        <li><a href="">联系我们</a></li>
    </ul>
</header>