{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/goods.css') }}">
{% endblock %}

{% block title %}主页{% endblock %}

{% block body %}
    <div class="logo-center"></div>
    <div class="swiper-container index-gly">
        <div class="swiper-wrapper">
            <div class="swiper-slide image" style="background-image: url(/static/image/index/g1.png)"></div>
            <div class="swiper-slide image" style="background-image: url(/static/image/index/g2.png)"></div>
            <div class="swiper-slide image" style="background-image: url(/static/image/index/g3.png)"></div>
        </div>
        <div class="swiper-pagination pagination"></div>
    </div>
    <div class="content index-goods">
        <h2 class="ft-xl">商品精选</h2>
        <ul class="item-list max3 goods-list sort-list">
            <li>
                <a class="image" style="background-image: url(/static/image/index/s1.png)"></a>
            </li>
            <li>
                <a class="image" style="background-image: url(/static/image/index/s2.png)"></a>
            </li>
            <li>
                <a class="image" style="background-image: url(/static/image/index/s3.png)"></a>
            </li>
        </ul>
        <h2 class="ft-xl">热销商品</h2>
        <ul class="item-list max3 goods-list ft-m">
            {% for product in products_hot %}
                <li>
                    <div class="image" style="background-image: url({{ product.colors[0].img_url }})"></div>
                    <ul class="goods-colors">
                        {% for _color in product.colors %}
                            <li style="background-color: {{ _color.color }}"></li>
                        {% endfor %}
                    </ul>
                    <a href="{{ url_for('main.goods', product_id=product.id ) }}" class="name ellipsis">{{ product.name }}</a>
                    <div class="descr">{{ product.description }}</div>
                    <div class="price">{{ product.price }}</div>
                </li>
            {% endfor %}
        </ul>
        <div class="more pointer"><a href="{{ url_for('main.goodslist') }}" style="color: #999">更多商品</a></div>
    </div>
    <div class="index-btm wood-intro" id="wood-intro"></div>
    <div class="wood-text">
        <div class="image">
            <img src="/static/image/index/wood.png">
        </div>
        <div class="text">
            <h4 class = "pcfloat">漆器</h4>
            <p>【初次使用前】新的漆器或者长久未用的漆器是处于睡眠状态的，要小心柔和的用温水冲洗、擦拭使它苏醒后使用。</p>
            <p>【感觉漆器气味较重时】暂新的漆器会有漆的味道，特别是在盛入热汤汁的情况下，味道会略微明显，有人戏称这种味道为“漆的主张”但是对气味比较敏感的人还是会觉得难以忍受。用得久了，
味道自然会消失，但是如果着急使用又介意味道的话，不妨参考这样的方法：取一瓶温水倒入一茶杯食用醋混合均匀，反复清洗即可。如果时间比较充裕的话，还可以把它放入米桶中数日也可去除味道，但是需要注意，有时会使漆器染到大米的味道。
            </p>
            <h4>木制品のQ&A</h4>
            <p>
                Q1：需要特殊清洗剂或者炊帚之类的东西吗?<br>
                A1：只需要使用普通的洗涤剂和洗碗布（海绵）就可以，但要注意，不能长时间在水中或洗涤剂中浸泡，也不要直接洗涤剂原液清洗漆器。绝对不要使用漂白剂、管道清洗剂等强力洗涤剂，金属炊帚，钢丝球等容易划伤物体表面的清洗用具也不要使用。
            </p>
            <p>
                Q2：使用了漆器，引起过敏皮肤红肿怎么办？<br>
                A2：由于个人体质不同，有时接触生漆会引起皮肤红肿，制作完成的漆器，不会像生漆一样对皮肤造成伤害，但是极少情况下敏感体质的人还是会产生皮肤红肿现象，如果发生该情况，请尽早就医诊治。
            </p>
        </div>
    </div>
    <div class="contact" id="contact">
        <div class="text"></div>
        <div class="image"></div>
        <div class="email">
            <span class="ft-l">
                我们的企业邮箱 <a href="index.html">zattashop@zatta.com</a>
            </span>
        </div>
    </div>
{% endblock %}

{% block swiper_js %}
    <script src="{{ url_for('static', filename='js/lib/swiper.jquery.min.js') }}"></script>
{% endblock %}

{% block js %}
    <script>
        var mySwiper = new Swiper ('.swiper-container', {
            autoplay: 5000,
            direction: 'vertical',
            loop: true,
            pagination: '.swiper-pagination',
            paginationClickable: true
         });

        if(document.body.clientWidth > 1024){
            var list = $(".goods-list:not(.sort-list)>li");
            list.find(".image").on("click",function(){
                $(this).parent().removeClass("toadd").toggleClass("carted");
            });
            list.on("mouseenter",function(){
                if(!$(this).hasClass("carted")){
                    $(this).addClass("toadd");
                }
            }); 
            list.on("mouseleave",function(){
                $(this).removeClass("toadd");
            }); 
        }
            
    </script>
{% endblock %}