{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cart.css') }}">
{% endblock %}

{% block title %}确认订单{% endblock %}

{% block body %}
    <div class="banner logo-center yellowhalf"></div>
    <div class="content">
        <ul class="order-status">
            <li class="active"><h2 class="page-title">确认订单</h2></li>
            <li><h2 class="page-title">确认支付</h2></li>
            <li><h2 class="page-title">下单成功</h2></li>
        </ul>
        <ul class="address-list noscroll cart-address">
            <li class="addnew pointer"></li>
        </ul>
        <ul class="order-list ft-m cart-list" style="border-top: 2px solid #ffd245">
            <li class="gds-con">
                <div class="image" style="background-image: url(../static/image/goods/m1.png)"></div>
                <div class="right" style="justify-content: space-between">
                    <div class="name"><b class="ellipsis">无印良品风U型抱枕</b><span>深灰白</span></div>
                    <div class="sum"><span class="price">67.70</span>x1</div>
                    <div class="sum"><span class="price">67.70</span></div>
                </div>
            </li>
            <li class="gds-con">
                <div class="image" style="background-image: url(../static/image/goods/m2.png)"></div>
                <div class="right" style="justify-content: space-between">
                    <div class="name"><b class="ellipsis">日式单耳陶瓷碗</b><span>乳白色</span></div>
                    <div class="sum"><span class="price">26.00</span>x1</div>
                    <div class="sum"><span class="price">26.00</span></div>
                </div>
            </li>
            <li class="gds-con">
                <div class="image" style="background-image: url(../static/image/goods/m3.png)"></div>
                <div class="right" style="justify-content: space-between">
                    <div class="name"><b class="ellipsis">创意木质手工皂盒</b><span>本木色</span></div>
                    <div class="sum"><span class="price">9.90</span>x1</div>
                    <div class="sum"><span class="price">9.90</span></div>
                </div>
            </li>
        </ul>
        <div class="cart-sum">
            <div class="selected">已选中 1 件商品</div>
            <div class="btn"><a href="{{ url_for('main.payconfirm') }}">提交订单</a></div>
            <div class="price"> 67.70</div>
        </div>
    </div>
    <div class="usredt-con ads-mdfy popup">
        <form>
            <div class="usredt-input">
                <input type="text" class="name" placeholder="姓名">
                <input type="text" class="number" placeholder="手机号">
                <input type="text" class="province" class="half" placeholder="省份/自治区">
                <input type="text" class="city" class="half" placeholder="城市/地区">
                <input type="text" class="area" placeholder="区/县">
                <input type="text" class="location" placeholder="详细地址">
                <input type="text" class="code" placeholder="邮政编码">
            </div>
            <!-- <div class="btn save">保存</div>
            <div class="btn cancel">取消</div> -->
            <input type="submit" name="submit" value="保存" class="btn save" >
            <input type="submit" name="submit" value="取消" class="btn cancel">
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/numInput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/addresslist.js') }}"></script>
    <script>
        var ue = $('.usredt-con');
        var usredt = addressEdit(ue,al);
        var al = addressList($(".address-list"), [], function() {
            var that = this;
            $(".ads-mdfy").addClass("show");
            usredt.setAddress(that.data);
            ue.find(".save").one("click", function() {
                that.modify(usredt.getAddress());
                $(".ads-mdfy").removeClass("show");
            });
        });
        $(".address-list .addnew").on("click",function(){
            $(".ads-mdfy").addClass("show");
            usredt.setAddress({});
            ue.find(".save").one("click",function(){
                al.add(usredt.getAddress());
                $(".ads-mdfy").removeClass("show");
            });
        });
        al.add({
            name:"童陈陈",
            number:"15757116455",
            province:"浙江省",
            city:"杭州市",
            area:"西湖区",
            location:"留和路288号浙江工业大学屏峰校区"
        });
        

        cmn.toggleStatus($(".cart-radio .radio"),{});

    </script>
{% endblock %}