{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/cart.css') }}>
{% endblock %}

{% block title %}确认订单{% endblock %}

{% block body %}
    <div class="banner logo-center yellowhalf">
        <span class="logo"></span>
    </div>
    <div class="content">
        <ul class="order-status">
            <li class="active"><h2 class="page-title">确认订单</h2></li>
            <li><h2 class="page-title">确认支付</h2></li>
            <li><h2 class="page-title">下单成功</h2></li>
        </ul>
        <ul class="address-list noscroll cart-address">
            {% import 'macros/addresses.html' as addresses_macro %}
            {{ addresses_macro.address_list(addresses) }}
        </ul>
        <ul class="order-list ft-m cart-list" style="border-top: 2px solid #ffd245">
            {% for color_key, product in products.items() %}
                <li class="gds-con" color_key={{ color_key }}>
                    <div class="image" style="background-image: url({{ product.get('img_url') }})"></div>
                    <div class="right" style="justify-content: space-between">
                        <div class="name"><b class="ellipsis">{{ product.get('name') }}</b><span>{{ product.get('color_name') }}</span></div>
                        <div class="sum"><span class="price price_single">{{ product.get('price') }}</span>x<span class="amount">{{ product.get('amount') }}</span></div>
                        <div class="sum"><span class="price price_sum"></span></div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="cart-sum">
            <div class="selected">已选中 <span id="products_total">0</span> 件商品</div>
            <div class="btn"><a id="submit_order">提交订单</a></div>
            <div class="price" id="total_price">0</div>
        </div>
    </div>
    <div class="usredt-con ads-mdfy popup">
        <form method="post">
            <div class="usredt-input">
                {{ address_form.name(class="name", placeholder="姓名") }}
                {{ address_form.phone_number(class="number", placeholder="手机号") }}
                {{ address_form.province(class="province half", placeholder="省份/自治区") }}
                {{ address_form.city(class="city half", placeholder="城市/地区") }}
                {{ address_form.region(class="area", placeholder="区/县") }}
                {{ address_form.detail_address(class="location", placeholder="详细地址") }}
                {{ address_form.postcode(class="code", placeholder="邮政编码") }}
                {{ address_form.address_id(hidden=True) }}
            </div>
            {{ address_form.submit(class="btn save") }}
            <input value="取消" class="btn cancel">
            {{ address_form.csrf_token }}
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src={{ url_for('static', filename='js/numInput.js') }}></script>
    <script src={{ url_for('static', filename='js/addresslist.js') }}></script>
    <script>
        //商品相关条目
        var total = $(".gds-con").length;
        $('#products_total').text(total);
        var price_amount = 0;
        $(".gds-con").each(function(index, element){
            var amount = parseInt($(element).find(".amount").text());
            var price_single = parseFloat($(element).find(".price_single").text());
            var price_sum = amount * parseInt(price_single * 100) / 100;
            $(element).find('.price_sum').text(price_sum);
            price_amount = (parseInt(price_amount * 100) + parseInt(price_sum * 100))/100;
        });
        $('#total_price').text(price_amount);
        //选择地址
        $('.addresses').click(function(){
            $(this).toggleClass('addr_selected');
        })
        //提交订单
        $("#submit_order").on("click", function(){
            var address_id = $(".addr_selected").attr("address_id");
            var colors = {};
            $(".gds-con").each(function(index, element){
                var amount = $(element).find(".amount").text();
                var color_key = $(element).attr('color_key');
                colors[color_key] = amount;
            });
            $.ajax({
                type: "POST",
                url: {{ url_for('restful.add_orders') | safe }},
                data: JSON.stringify({"total": price_amount, "address_id": address_id, "colors": colors}),
                contentType: "application/json",
                success: function(data){
                    window.location.href = {{ url_for('main.payconfirm') | safe}}
                }
            });
        });
    </script>
{% endblock %}