{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cart.css') }}">
{% endblock %}

{% block title %}确认支付{% endblock %}

{% block body %}
    <div class="banner logo-center yellowhalf"></div>
    <div class="content">
        <ul class="order-status">
            <li><h2 class="page-title">确认订单</h2></li>
            <li class="active"><h2 class="page-title">确认支付</h2></li>
            <li><h2 class="page-title">下单成功</h2></li>
        </ul>
        <div class="text-status caution">本平台暂只支持顺丰到付，是否确认支付？</div>
        <a href="{{ url_for('main.paysuccess') }}" class="status-btn btn">确认支付</a>
    </div>
    <footer> 
        @ZattaShop, 2016 all right served.
    </footer>
{% endblock %}