<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/cart.css">
    <title>确认支付</title>
</head>
<body>
    <header>
        <div class="header-top">
            <i class="menu-icon"></i>
            <form class="searchBar transition" id="search">
                <input type="search" class="ft-m transition" width="0">
                <div class="submit transition pointer"></div>
            </form>
            <div class="user ft-m">
                <a class="user-cart">
                    <span class="number">2</span>
                </a>
                <!-- <a href="login.html" class="nologin">登录</a>
                <a href="regist.html" class="nologin ft-grey">免费注册</a> -->
                <a href="user.html" class="username">CiCi</a>
                
            </div>
        </div>
        <ul class="menu-list" style="display:none">
            <li><a href="">所有商品</a></li>
            <li><a href="">木器使用保养</a></li>
            <li><a href="">联系我们</a></li>
        </ul>
    </header>
    <div class="banner logo-center yellowhalf"></div>
    <div class="content">
        <ul class="order-status">
            <li><h2 class="page-title">确认订单</h2></li>
            <li class="active"><h2 class="page-title">确认支付</h2></li>
            <li><h2 class="page-title">下单成功</h2></li>
        </ul>
        <div class="text-status caution">本平台暂只支持顺丰到付，是否确认支付？</div>
        <a class="status-btn btn">确认支付</a>
    </div>
    <footer> 
        @ZattaShop, 2016 all right served.
    </footer>
    <script src="/static/bower_components/zepto/zepto.min.js"></script>
    <script src="/static/js/common.js"></script>
</body>
</html>