{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cart.css') }}">
{% endblock %}

{% block title %}下单成功{% endblock %}

{% block body %}
    <div class="banner logo-center yellowhalf"></div>
    <div class="content">
        <ul class="order-status">
            <li><h2 class="page-title">确认订单</h2></li>
            <li><h2 class="page-title">确认支付</h2></li>
            <li class="active"><h2 class="page-title">下单成功</h2></li>
        </ul>
        <div class="text-status sended">支付成功，您的包裹正在飞来  (,,• ₃ •,,)</div>
        <a href="{{ url_for('main.cart') }}" class="status-btn pointer hoverYellow">返回购物车></a>
    </div>
{% endblock %}