{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/user.css') }}>
{% endblock %}

{% block title %}个人中心{% endblock %}

{% block body %}
    <div class="banner logo-center yellowhalf"></div>
    <div class="content">
        <h2 class="ft-xl yellowBar page-title ">个人中心</h2>
        <div class="user-con">
            <div class="user-info">
                <div class="user-img">
                    <img src={{ url_for('static', filename='image/user/default_user.png') }}>
                </div>
                <div class="text">
                    <div class="username">{{ current_user.username }}</div>
                    <div class="ft-grey">{{ time_now }}好(,,• ₃ •,,)～</div>
                </div>
                <div class="btn ft-l" id="mdfy">修改个人信息</div>
            </div>
        </div>
        <div class="user-con">
            <h3 class="title">收货地址管理</h3>
            <ul class="address-list noscroll">
                <li class="addnew pointer"></li>
                {% for address in addresses %}
                    <li address_id={{ address.id }}>
                        <div class="name">
                            {{ address.name }}
                            <span class="hoverYellow pointer rm_address">删除</span>
                            <span class="hoverYellow pointer edit_address">编辑</span>
                        </div>
                        <ul class="detail">
                            <li>{{ address.phone_number }}</li>
                            <li>{{ address.province }}{{ address.city }}{{ address.region }}</li>
                            <li>{{ address.detail_address }}</li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="user-con">
            <h3 class="title"><span style="color:black;" class="btn_span all_order">所有订单</span><span class="btn_span wait_pay">待支付</span><span class="btn_span wait_receipt">待收货</span><span class="btn_span closed">已关闭</span></h3>
            {% for order in orders %}
                {% if order.state == '已关闭' %}
                    <div class="user-order closed">
                {% elif order.state == '等待支付'  %}
                    <div class="user-order wait_pay">
                {% elif order.state == '已发货' %}
                    <div class="user-order wait_receipt">
                {% else %}
                    <div class="user-order order_success">
                {% endif %}

                    <div class="head">
                        <div class="ft-xl">{{ order.state }}</div>
                        <div>
                            <span class="time">{{ order.order_date }}</span>
                            <div class="sum">
                                订单金额：<span class="ft-xl">{{ order.total }}</span>
                            </div>
                            <span class="number">订单号：{{ order.order_number }}</span>
                        </div>
                    </div>
                    <ul class="order-list ft-m">
                        {% for order_color in order.colors %}
                            <li class="gds-con">
                                <div class="image" style="background-image: url({{ order_color.color.img_url }})"></div>
                                <div class="name"><b class="ellipsis">{{ order_color.color.product.name }}</b><span>{{ order_color.color.name }}</span></div>
                                <div class="sum"><span class="price">{{ order_color.color.product.price }}</span>x1</div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="user-order-btns" order_id={{ order.id }}>
                        {% if order.state == '等待支付' %}
                            <div class="btn pay">立即支付</div>
                            <div class="cancel pointer cancel_order">取消订单</div>
                        {% elif order.state == '已发货' %}
                            <div class="btn pay">确认收货</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="usredt-con user-mdfy popup">
        <form method="post">
            <div class="usredt-input">
                {{ user_form.username(class="username norepeat", placeholder="用户名") }}
                {{ user_form.password(class="password norepeat", placeholder="密码") }}
                {{ user_form.password2(class="password norepeat", placeholder="请重新输入密码") }}
            </div>
            {{ user_form.submit(class="btn save") }}
            <input class="btn cancel" id="cancel" value="取消">
            {{ user_form.csrf_token }}
        </form>
    </div>
    <div class="usredt-con ads-mdfy popup">
        <form method="post">
            <div class="usredt-input">
                {{ address_form.name(class="name", placeholder="姓名") }}
                {{ address_form.phone_number(class="number", placeholder="手机号") }}
                {{ address_form.province(class="province half", placeholder="省份/自治区") }}
                {{ address_form.city(class="city half", placeholder="城市/地区") }}
                {{ address_form.region(class="area", placeholder="区/县") }}
                {{ address_form.detail_address(class="location", placeholder="详细地址") }}
                {{ address_form.postcode(class="code", placeholder="邮政编码") }}
                {{ address_form.address_id(hidden=True) }}
            </div>
            {{ address_form.submit(class="btn save") }}
            <input value="取消" class="btn cancel">
            {{ address_form.csrf_token }}
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src={{ url_for('static', filename='js/addresslist.js') }}></script>
    <script type="text/javascript">
        {% if get_flashed_messages() %}
            $(".user-mdfy").addClass("show");
            var alertBox = function(text){
                var ab = $('<div class="alert-box">'+text+'</div>');

                $(".user-mdfy.popup").append(ab);
                return function(){
                    ab.show();
                    $(".user-mdfy.popup").one("click",function(){
                        ab.hide();
                    });
                };
            };
            {% for message in get_flashed_messages() %}
                alertBox(String({{ message | tojson }}))();
            {% endfor %}
        {% endif %}
        $("#mdfy").on("click",function(){
            $(".user-mdfy").addClass("show");
        });
        $("#cancel").on("click",function(){
            $(".user-mdfy").removeClass("show");
        });
        //“取消订单”按钮点击事件
        $(".cancel_order").click(function(){
            var order_id = $($(this).parents(".user-order-btns")[0]).attr("order_id");
            $.ajax({
                type: "POST", 
                url: {{ url_for('main.cancel_order') | tojson }},
                data: order_id,
                contentType: "application/json",
                success: function(data){
                    window.location.reload();
                }
            });
        });
        //"立即支付"和"确认收货"按钮点击事件
        $(".btn.pay").click(function(){
            var order_id = $($(this).parents(".user-order-btns")[0]).attr("order_id");
            $.ajax({
                type: "POST", 
                url: {{ url_for('main.modify_order_state') | tojson }},
                data: order_id,
                contentType: "application/json",
                success: function(data){
                    window.location.reload();
                }
            });
        });
        $(".btn_span").click(function(){
            var btn_type = $(this).attr('class').split(' ')[1];
            $(".btn_span").css("color", "#999");
            $(this).css("color", "black");
            if(btn_type === 'all_order'){
                $('.user-order').show();
            }
            else{
                $('.user-order').each(function(index, element){
                    if($(element).attr('class').split(' ')[1] != btn_type){
                        $(element).hide();
                    }
                    else{
                        $(element).show();
                    }
                })
            }
        })
    </script>
{% endblock %}