@import './_setting.scss';
header {
  width: 92%;
  margin: 1rem auto 0 auto;
  text-align: center;
  .header-top {
    position: relative;
  }
  .menu-icon {
    position: absolute;
    left: 0;
    height: 30px;
    width: 20px;
    background: url('../image/icon/menu.png') center center no-repeat;
    background-size: 14px;
    &.open {
      background-image: url('../image/icon/close.png');
    }
  }
  .searchBar {
    position: relative;
    display: inline-block;
    width: 28px;
    border: 2px solid transparent;
    border-radius: 15px;
    overflow: hidden;
    input {
      width: 100%;
      padding: 6px 26px 6px 0;
      text-indent: 1rem;
    }
    .submit {
      position: absolute;
      right: 5px;
      top: 20%;
      height: 16px;
      width: 16px;
      background: url('../image/icon/search.png') center center no-repeat;
      background-size: 90%;
    }
    &.active {
      width: 45%;
      border: 2px solid #eee;
    }
    &:hover {
      border: 2px solid #eee;
    }
  }
  .user {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    .nologin {
      float: right;
      font-size: 12px;
    }
    .username {
      line-height: 30px;
      text-decoration: underline;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .user-cart {
    float: right;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border-radius: 15px;
    background: $zatYellow url('../image/icon/cart.png') center center no-repeat;
    background-size: 15px;
    .number {
      float: right;
      width: 16px;
      height: 16px;
      margin-right: -5px;
      margin-top: -3px;
      line-height: 16px;
      color: #fff;
      background-color: #000;
      border-radius: 50%;
      transform: scale(.8);
    }
  }
  .menu-list {
    width: 24rem;
    li {
      display: inline-block;
      padding: 1rem 3rem 1rem 0;
    }
  }
}

.address-list {
  width: 100%;
  display: flex;
  overflow-x: auto;
  .addnew {
    background: url("../image/icon/add.png") center 30% no-repeat;
    background-size: 3rem;
    text-align: center;
    &:after {
      content: "添加新的地址";
      display: block;
      margin-top: 5rem;
      color: #cbcbcb;
    }
  }
  &>li {
    box-sizing: border-box;
    flex: 0 0 29.33%;
    height: 10rem;
    margin: 0 2%;
    padding: 1.2rem 2rem;
    border-radius: 15px;
    border: 2px solid #f1f1f1;
    &.active {
      border: 2px solid $zatYellow;
    }
    @media screen and (max-width: $mediaPadWidth - 1px) {
      flex-basis: 46%;
    }
  }
  .head {
    font-size: 1.1rem;
    .edit,.remove {
      float: right;
      margin: 0 .2rem;
    }
  }
  .detail {
    margin-top: .8rem;
    font-size: .9rem;
    color: #777;
  }
  .edit,.remove {
    cursor: pointer;
  }
}

footer {
  height: 65px;
  padding: 0 2rem;
  margin-top: 5rem;
  line-height: 54px;
  font-size: 12px;
  background: #f6f6f6 url("../image/icon/share.png") 95% 20px no-repeat;
  background-size: 6rem;
}

.content {
  width: 94%;
  max-width: 984px;
  padding: 0 3%;
  margin: 0 auto;
}

.user-img {
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.logo {
  background-image: url('../image/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  &.logo-grey {
    background-image: url('../image/logo_grey.png');
  }
}

.logo-center {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -1rem;
    z-index: 2;
    height: 2rem;
    width: 30%;
    margin-left: -15%;
    background: url("../image/logo.png") center center no-repeat;
    background-size: contain;
  }
}

.yellowBar {
  &:before {
    content: "";
    display: block;
    height: .6rem;
    width: 30%;
    background-color: $zatYellow;
    margin: 0 auto;
  }
}

.banner {
  display: inline-block;
  height: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.btn {
  box-sizing: border-box;
  padding: .6em 1.6em;
  border-radius: 1.6em;
  text-align: center;
  color: #fff;
  background-color: $zatYellow;
  cursor: pointer;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  a {
    display: block;
  }
  &>* {
    box-sizing: border-box;
  }
  &.max3>* {
    flex: 0 0 33.33%;
    width: 33.33%;
    @media screen and (max-width: $mediaPadWidth - 1px) {
      flex-basis: 50%;
    }
  }
  &.max4>* {
    flex: 0 0 25%;
    width: 25%;
    @media screen and (max-width: $mediaPadWidth - 1px) {
      flex-basis: 50%;
    }
    @media screen and (min-width: $mediaPadWidth) and (max-width: $mediaPCWidth - 1px) {
      flex-basis: 33.33%;
    }
  }
}

h2.page-title {
  font-family: "Simsun";
  font-weight: bold;
  color: #555;
  padding: 1rem 0;
  text-align: center;
  &:before {
    width: 4rem;
    margin-bottom: .4rem;
  }
}

h3.title {
  font-family: "Simsun";
  font-weight: bold;
  color: #555;
  padding-left: .5rem;
  margin-bottom: 2rem;
  border-left: .35rem solid $zatYellow;
  letter-spacing: .1rem;
}

.gds-con {
  display: flex;
  &>div {
    flex: 0 0 auto;
    padding: 0 .5rem;
    box-sizing: border-box;
  }
  .image {
    width: 6rem;
    height: 6rem;
    background: #bfbfbf center center no-repeat;
    background-size: 5rem;
  }
  .name {
    flex-basis: 25%;
    padding-top: 1.5rem;
    span {
      display: block;
      margin-top: .4rem;
      font-size: 12px;
    }
  }
  .sum {
    line-height: 6rem;
  }
}

.radio {
  display: inline-block;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 0 .15rem #fff, 0 0 0 .3rem #ccc;
  &.active {
    background-color: $zatYellow;
    box-shadow: 0 0 0 .15rem #fff, 0 0 0 .3rem $zatYellow;
  }
}

.number-pick {
  color: $zatYellow;
  i {
    position: relative;
    bottom: -.2rem;
    display: inline-block;
    margin: 0 .6rem;
    font-size: 1.6rem;
  }
  .dec:before {
    content: "<";
  }
  &.zero .dec:before {
    color: #ccc;
  }
  .add:before {
    content: ">";
  }
}

.usredt-con {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%);
  form {
    width: 100%;
  }
  &.popup {
    box-sizing: border-box;
    z-index: 9;
    max-width: 450px;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
  }
  .btn {
    display: inline-block;
    color: $fontColor;
  }
  .btn.cancel {
    background-color: #cacaca;
  }
}

.usredt-input {
  input {
    box-sizing: border-box;
    padding: 15px 8px 15px 3rem;
    width: 100%;
    border-bottom: 2px solid #cacaca;
    background-size: 1.2rem;
    background-position: 12px center;
  }
  .username {
    background-image: url('../image/icon/user.png');
  }
  .password {
    background-image: url('../image/icon/password.png');
  }
}

.alert-box{
  display: none;
  position: absolute;
  left: 50%;
  top: 35%;
  width: 16rem;
  height: 3.5rem;
  margin-left: -8rem;
  line-height: 3.5rem;
  text-align: center;
  color: #fff;
  background-color: #2b2b2b;
  border-radius: 10px;
  &:before{
    content:"＊";
    display: inline-block;
    font-size: 1.5rem;
    transform: translateY(.5rem);
    color: #f10303;
  }
}
