//var
$zatYellow: #ffd245;
$fontColor: #222;

$fontFamily: 'Helvetica Neue', Helvetica, "Microsoft Yahei UI","Microsoft Yahei";

$mediaMobileWidth: 375px;
$mediaPadWidth: 768px;
$mediaPCWidth: 1440px;

@mixin mobileWidth($w){
    @media screen and (max-width: $mediaPadWidth - 1px ){
        width: $w;
    }
}

@mixin padWidth($w){
    @media screen and (min-width: $mediaPadWidth ) and (max-width: $mediaPCWidth - 1px ){
        width: $w;
    }
}

@mixin mobileHeight($h){
    @media screen and (max-width: $mediaPadWidth - 1px ){
        height: $h;
    }
}

@mixin padHeight($h){
    @media screen and (min-width: $mediaPadWidth ) and (max-width: $mediaPCWidth - 1px ){
        height: $h;
    }
}

@mixin mobileSize($w,$h){
    @media screen and (max-width: $mediaPadWidth - 1px ){
        width: $w;
        height: $h;
    }
}

@mixin padSize($w,$h){
    @media screen and (min-width: $mediaPadWidth ) and (max-width: $mediaPCWidth - 1px ){
        width: $w;
        height: $h;
    }
}

@mixin mobileFont($f){
    @media screen and (max-width: $mediaPadWidth - 1px ){
        font-size: $f;
    }
}

@mixin padFont($f){
    @media screen and (min-width: $mediaPadWidth ) and (max-width: $mediaPCWidth - 1px ){
        font-size: $f;
    }
}