@import './_setting.scss';
.cart-address{
    margin-top: 1.5rem;

}

.cart-list{
    margin-top: 2.5rem;
    li{
        padding: 1rem 0;
    }
    &.hoverShadow>li{
        border-radius: 12px;
        transition: box-shadow .2s;
        &:hover{
            box-shadow: 0 0 20px rgba(0,0,0,.1);
        }
    }
    .cart-radio{
        width: 4.5rem;
        line-height: 6rem;
        text-align: center;
    }
    .right{
        display: flex;
        flex: 1 0 220px;
        flex-wrap: wrap;
        &>div:not(.name){
            flex-basis: 20%;
            line-height: 6rem;
            text-align: center;
            @media screen and (max-width: $mediaPadWidth - 1px) {
                height: 3rem;
                flex-basis: 50% !important;
                line-height: 3rem;
            }
        }
        &>div.name{
            flex-basis: 40%;
            @media screen and (max-width: $mediaPadWidth - 1px) {
                flex-basis: 50%;
                padding: 0;
            }
        }
        &>div.sum{
            @media screen and (max-width: $mediaPadWidth - 1px) {
                text-align: left;
            }
        }
        &>div.remove{
            cursor: pointer;
        }
    }
}

.cart-sum{
    padding: 1rem 0;
    overflow: hidden;
    .selected{
        float: left;
    }
    .price,.btn{
        float: right;
    }
    .btn{
        margin: -.6rem 1rem;
        color: $fontColor;
    }
}

.order-status{
    display: flex;
    margin: 3rem 3rem 0 3rem;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom,#fff 0%,#fff 47%,#eee 47%,#eee 53%,#fff 53%,#fff 100%);
    li{
        width: 2.5em;
        background-color: #fff;
        text-indent: -.75em;
        white-space: nowrap;
        box-shadow: 0 0 0 3em #fff;
        h2{
            color: #929292;
        }
    }
    li.active{
        border-top: .2rem solid $zatYellow;
        h2{
            color: $fontColor;
        }
    }
}

.content{
    position: relative;
    min-height: 70%
}

.text-status,.status-btn{
    position: absolute;
    left: 50%;
}

.text-status{
    width: 75%;
    top: 40%;
    margin-left: -35%;
    text-align: center;
    &:before{
        content:"";
        display: inline-block;
        position: relative;
        top: .5em;
        right: .5em;
        height: 1.5em;
        width: 1.5em;
        background-size: 100%;
    }
    &.caution:before{
        background-image: url("../image/icon/caution.png");
    }
    &.sended:before{
        background-image: url("../image/icon/plane.png");
    }
}

.status-btn{
    width: 180px;
    top: 60%;
    margin-left: -90px;
    text-align: center;
    color: $fontColor;
}

.ads-mdfy{
    display: none;
    width: 75%;
    padding: 3%;
    text-align: center;
    &.show{
        display: block;
    }
    input{
        margin-top: 1em;
        padding-left: 8px;
        padding-bottom: 4px;
        &.half{
            display: inline-block;
            width: 49%;
        }
    }
    .btn{
        width: 40%;
        margin: 1rem 3%;
    }
}


