@import './_setting.scss';
@import './_components.scss';

// reset
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,textarea,p,th,td,tr,table,tbody,thead,tfoot,em,strong,span,img,section,input {padding:0;margin:0;} 
table {border-collapse:collapse;border-spacing:0;} 
img {border:0 none;display:block;} 
em {font-weight:normal;font-style:normal;} 
ol,ul {list-style:none;} 
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:100%;} 
.clearFix:after{content:' ';display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}
.clearFix {*zoom:1;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input,textarea {font-family: $fontFamily;outline:0;outline:0 none;-webkit-appearance: none;border-radius: 0;border:none}
ul,li {list-style-type:none}
* {-webkit-tap-highlight-color: rgba(255,255,255,0)}
i {font-style:normal}

// common
html{
    font-size: 16px;
    font-family: $fontFamily;
    color: $fontColor;
    @include mobileFont(12px);
}

html,body{
    height: 100%;
    overflow: auto;
}

a,a:visited{
    color:$fontColor;
}

button{
    border: none;
}

.ft-s{
    font-size: .8rem;
}

.ft-m{
    font-size: .93rem;
}

.ft-l{
    font-size: 1.06rem;
}

.ft-xl{
    font-size: 1.2rem;
}

.ft-xxl{
    font-size: 1.32rem;
}

.ft-grey{
    color: #999;
}

.transition{
    transition: all .4s;
}

.norepeat{
    background-repeat: no-repeat;
}   

.pointer{
    cursor: pointer;
}

.yellowhalf{
    background-image: linear-gradient(to right,$zatYellow 0,$zatYellow 50%,#fff 50%);
}

.noscroll::-webkit-scrollbar{
    background-color: transparent;
}

.noscroll::-webkit-scrollbar-thumb{
    background-color: transparent;
}

.price{
    &:before{
        content:"RMB￥";
        margin-right: .4rem;
    }
}

.ellipsis{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hoverYellow:hover{
    color: #f8980f;
}

