@import '_setting.scss';

.lr-con{
    width: 90%;
    max-width: 450px;
    height: 60%;
    .logo{
        width: 90%;
        height: 12rem;
        margin: 0 5%
    }
    .btn{
        display: block;
        width: 80%;
        margin: 0 auto;
        font-size: 1.6rem;
        letter-spacing: 1em;
        text-indent: 1em;
    }
}

.lr-input{
    margin-bottom: 7rem;
}