@import './_setting.scss';
.user-con {
  width: 100%;
  margin-top: 3.5rem;
  h3 {
    
    span{
        padding: 0 .9rem;
        border-left: 1px solid #efefef;
        color: #999;
    }
    span:first-child{
        margin-left: .9rem;
    }
  }
}

.user-info {
  margin-top: 3rem;
  height: 8rem;
  overflow: hidden;
  .user-img {
    float: left;
    height: 7.5rem;
    width: 7.5rem;
  }
  .text {
    float: left;
    margin: 2rem 1rem;
    line-height: 2rem;
  }
  .btn {
    float: right;
    height: 2.6rem;
    margin: 2.5rem 0;
    color: $fontColor;
  }
}

.user-order{
    position: relative;
    margin-top: 1.8rem;
    border: 2px solid $zatYellow;
    border-radius: .5rem;
    overflow: auto;
    &.closed{
        border: 2px solid #f1f1f1;
    }
    &.closed .head{
        background-color: #f1f1f1;
    }
    .head{
        background-color: $zatYellow;
        padding: .8rem 2rem;
        line-height: 2rem;
        overflow: hidden;
    }
    .sum{
        float: right;
    }
    .time,.number{
        float: left;
    }
    .time{
        margin-right: 1rem;
    }
}

.order-list{
    padding: 0 2rem;
    li{
        margin: 1rem 0;
    }
}

.user-order-btns{
    position: absolute;
    right: 1.5rem;
    top: 7rem;
    width: 6rem;
    margin-bottom: .6rem;
    div{
        width: 100%;
        padding: .7rem;
    }
    .pay{
        color: $fontColor;
    }
    .cancel{
        box-sizing: border-box;
        color: #666;
        text-align: center;
    }
    @media screen and (max-width: $mediaPadWidth - 1px) {
        position: initial;
        float: right;
        margin-right: 2rem;
    }
}

.user-mdfy{
    display: none;
    width: 75%;
    padding: 5% 7%;
    text-align: center;
    input{
        margin-bottom: 1rem;
    }
    .btn{
        width: 40%;
        margin: 1rem 3%;
    }

    &.show{
        display: block;
    }
}